@model IEnumerable<TrackerModuleV1._0.Models.PTM.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Part Number")
        </th>
        <th>
            @Html.DisplayName("Short Description")
        </th>
        <th>
            @Html.DisplayName("Supplier Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UoM)
        </th>
        <th>
            @Html.DisplayName("Used Qnty")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayName("Safety Stock")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RackNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineNo)
        </th>
        <th>
            @Html.DisplayName("Store Location")
        </th>
        <th>
            @Html.DisplayName("Last Used Date")
        </th>
        <th>
            @Html.DisplayName("Last User")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Part.PartId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Part.PartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UoM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsedQnty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RackNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUsedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUser.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id1 = item.PartId, id2=item.SupplierId }) |
            @Html.ActionLink("Details", "Details", new { id1 = item.PartId, id2 = item.SupplierId }) |
            @Html.ActionLink("Delete", "Delete", new { id1 = item.PartId, id2 = item.SupplierId })
        </td>
    </tr>
}

</table>
